body, html {
  font: 100% "Montserrat", sans-serif;
  background: white; }

a {
  color: grey;
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none; }

.lead {
  padding: 40px 0px 40px 0px; }

.custom-toggler.navbar-toggler {
  border-style: none; }

.minimal-image img {
  max-width: 350px; }

.article p {
  margin: 30px; }

.article ul {
  margin: 30px; }

@media screen and (min-width: 768px) {
  .laurens {
    background-color: red; } }
