body, html {
  font: 100% "Montserrat", sans-serif;
  background: white; }

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

.lead {
  padding: 40px 0px 40px 0px; }

.custom-toggler.navbar-toggler {
  border-style: none; }

.page-content-wrapper {
  width: 100%; }

#content {
  padding: 15px;
  width: 70%;
  height: 100%;
  margin: 0 auto; }

.article p {
  margin: 10px; }

.article ul {
  margin: 30px; }

.article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }

#sidebar {
  background: white;
  color: #636e72;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.center-text {
  text-align: center; }

#sidebar:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

#sidebar .sidebar-header {
  padding: 20px;
  background: white; }

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: none; }

#sidebar ul p {
  color: #636e72;
  padding: 10px; }

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

#sidebar ul li a:hover {
  color: #2d3436;
  background: #fff; }

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: black;
  background: white; }

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: white; }

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch; }

#sidebar.active {
  margin-left: -255px; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

@media (max-width: 768px) {
  #content {
    width: 90%; }
  #sidebar {
    margin-left: -255px; }
  #sidebar.active {
    margin-left: 0; }
  .article img {
    width: 60%; } }

@media (min-width: 1500px) {
  #content {
    width: 60%;
    height: 100%;
    margin: 0 auto; } }
