$font-stack: 'Raleway';
$bg-color: white;
$link-color: grey;
$link-hover-color: black;

body {
    font: 100% $font-stack;
    background: $bg-color;
}

a {
    color: $link-color;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
    text-decoration: none;
}


.lead {
    padding: 40px 0px 40px 60px;
}